name: C/C++ CI

on:
  push:
    branches: [ "sdcard" ]
  pull_request:
    branches: [ "sdcard" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: CI Build
      run: chmod +x ci-build.sh && ./ci-build.sh

    - uses: actions/upload-artifact@v3
      with:
        name: Y560
        path: ./workspace/Y560.img
    - uses: actions/upload-artifact@v3
      with:
        name: Lumia 650
        path: ./workspace/emmc_appsboot.mbn
    - uses: actions/upload-artifact@v3
      with:
        name: E1M
        path: ./workspace/E1M.img